__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

venv/
ENV/
env/

.env
*.env

.streamlit/

*.log

.vscode/
.idea/
.DS_Store
Thumbs.db

.cache/
test.py
*.png
*.jpeg
*.jpg
test.py
v1.0.py
v1.1.py
test2.py
testv3.py
readme.md
Documentation for SRS.docx
documentaton for SRS.docx
*.tmp
v1.2.py

